* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 75%;
}

body {
  display: flex;
  justify-content: center;
  margin: 0 0 174px;
}
main {
  width: 100%;
  max-width: 800px;
}
header {
  padding: 2rem;
}
h1 {
  font-size: 2.4rem;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
button {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
}
.btn:hover {
  cursor: pointer;
}
.container {
  padding: 1rem;
}
.highlight {
  position: relative;
}
.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-20deg);
  background-image: linear-gradient(rgb(31, 101, 230), rgb(88, 35, 233));
}

/* ------------------------------ */
/*  list */
.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.list-name {
  padding: 1.8rem 0 1rem 0;
  text-align: center;
  font-size: 1.8rem;
}
.list-item {
  padding: 0.6rem 1rem;
  background-color: rgb(243, 243, 243);

  font-size: 1.4rem;
  display: grid;
  grid-template-columns: 1fr 14fr 0.5fr 0.5fr;
  gap: 1rem;
  align-items: center;
  border-radius: 2px;
}
.item-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item-icon {
  font-size: 1.8rem;
}

.checkbox {
  border: 2px solid rgb(31, 101, 230);
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 2px;
}

/* ------------------------------ */
/* footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.footer-nav {
  background-color: rgb(243, 243, 243);
  padding: 0.2rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: center;
}
.footer-btns {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  max-width: 600px;
  width: 100%;
}

.footer-icon {
  font-size: 2.8rem;
  margin: 1rem;
}
.footer-icon:hover {
  cursor: pointer;
}

.new-task {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.input-container--new-task {
  border-radius: 5rem;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.171);
  display: flex;
  padding: 0.9rem;
  position: relative;
  background-color: white;
  width: 90%;
  max-width: 800px;
}
.input--new-task {
  font-family: montserrat;
  border: none;
  margin-right: 3.6rem;
  outline: none;
  font-size: 1.6rem;
  width: 100%;
  color: grey;
}

.btn--new-task {
  /* display: flex; */
  position: absolute;
  right: 0;
  top: 0;
  background-image: linear-gradient(rgb(31, 101, 230), rgb(88, 35, 233));
  color: white;
  border-radius: 60%;
  width: 3.8rem;
  height: 3.8rem;
}

.icon--new-task {
  font-size: 2.4rem;
}
/* ------------------------------ */
/*  */
